<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="data:image/png;base64,{{logo}}" alt="team logo" style="height: 40px;">
    <img src="data:image/png;base64,{{player_img}}" alt="player image" style="height: 40px;">
    {{player_name}}
    {{position}}
    {{player_jersey_number}}
    {{player_team}}
</body>
</html>